@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');


.cv-image {
    width: 35%;
}

.main-content {
    min-height: 100vh;

}

.main-header {
    font-family: 'Lobster Two', cursive;
}

.login-area {
    background-color: hsl(0, 0%, 96%);
}